html {
	box-sizing: border-box;
	-web-font-smoothing: antialiased;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	height: 100vh;
	color: #222;
	font-family: 'Proza Libre', sans-serif;
	font-size: 18px;
	line-height: 1.3;
}

div > h1, h2 {
	text-align: center;
	font-family: 'Taviraj', serif;
}

.textWhite {
	color: #fff;
}

.userBody {
	background: url('./mtnbackdrop.jpg') no-repeat center fixed;
	background-size: cover;
}

.infoBody {
	height: 100%;
	width: 100%;
	background-color: #337ab7;
	background-image: url('./skier.svg');
	background-repeat: no-repeat;
	background-size: 82% 205%;
	background-position: 95% 25%;
}

.infoTile {
	margin: 40px 25% 20px 25%;
	width: 50%;
	height: 90%;
	position: absolute;
	border: 1px solid #222;
	border-radius: 5px;
	background-color: #fff;
	padding: 20px 30px 20px 30px;
	overflow: auto;
}

.indexBody {
	height: 100%;
	background-color: #337ab7;
	background-image: url('./skier.svg');
	background-repeat: no-repeat;
	background-size: 82% 205%;
	background-position: 95% 25%;		
}

.indexBody a {
	color: #fff;
}

.indexBody a:hover {
	opacity: 0.8;
}

.landingTitle {
	padding-top: 20px;
}

.infoPanel {
	margin-top: 20px;
}

.indexDiv {
	margin-top: 20px;
}

.exitDemo {
	color: #fff;
	text-decoration: none;
}

.exitDemo:hover {
	color: #fff;
	opacity: 0.6;
}

@media only screen and (max-width: 1024px) {
	body {
		height: 100vh;
	}

	.indexBody {
		background-position: -30% 25%;
		padding: 20px 40px 20px 40px;		
	}

	.infoBody {
		height: 100%;
		width: 100%;
		background-color: #337ab7;
		background-image: none;
	}

	.infoTile {
		margin: 40px 15% 40px 15%;
		width: 70%;
		height: 90%;
		position: absolute;
		border: 1px solid #222;
		border-radius: 5px;
		background-color: #fff;
		padding: 20px 30px 20px 30px;
		overflow: auto;
	}

}

@media only screen and (max-width: 767px) {
	body {
		height: 100%;
		background-color: #337ab7;
	}

	.indexBody {
		background-position: -30% 79%;
		padding: 20px 40px 20px 40px;		
	}

	.landingTitle {
		padding-top: 70%;
	}

	.infoBody {
		height: 100%;
		width: 100%;
		background-color: #337ab7;
		background-image: none;
	}

	.infoTile {
		margin: 40px 10% 40px 10%;
		width: 80%;
		height: 90%;
		position: absolute;
		border: 1px solid #222;
		border-radius: 5px;
		background-color: #fff;
		padding: 20px 30px 20px 30px;
		overflow: auto;
	}

}
